<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Templat is working</title>
</head>

<body>

    <h1> Enter your info. belew.</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 1319px; height: 216px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc"> Remove panctuations<br>
        <input type="checkbox" name="fullcaps">UPPERCASE<br>
        <input type="checkbox" name="newline">New Line Remover<br>
        <input type="checkbox" name="spaceremover"> Extra Space remover<br>
        <input type="checkbox" name="chcounter"> Count your character<br>
        <button type="submit"> Aalyzed text  </button>

    </form>

    <!-- </analizee page code > -->
    title>Analized yout text...!</title>
    </head>

    <body>
        <h2>your Analized text_ {{ purpose }}</h2>
        <p>
            {{Analized_text}}
        </p>





    </body>

</html>